<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.julia.test" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:name="com.example.julia.test.ParseApplication"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        android:configChanges="orientation|screenSize"
        >

        <activity
            android:name=".StartScreen"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".StartingGameActivity"
            android:icon="@drawable/na_logo"
            android:logo="@drawable/na_logo"
            android:label="@string/app_name"
            android:parentActivityName=".StartScreen"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".SetDifficulty"
            android:label= "@string/app_name"
            android:icon="@drawable/na_logo"
            android:logo="@drawable/na_logo"
            android:parentActivityName=".StartScreen"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".Ques"
            android:icon="@drawable/na_logo"
            android:logo="@drawable/na_logo"
            android:label= "Quiz"
            android:parentActivityName=".StartScreen"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".Statistics"
            android:icon="@drawable/na_logo"
            android:logo="@drawable/na_logo"
            android:parentActivityName=".StartScreen"
            android:label="Statistik"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".OverallStatistics"
            android:icon="@drawable/na_logo"
            android:logo="@drawable/na_logo"
            android:parentActivityName=".StartScreen"
            android:label="@string/title_overall_statistics"
            android:configChanges="orientation|screenSize">
        </activity>


    </application>

</manifest>
